*{
    border-radius: 0 !important;
}

body{
    background: lightblue url("../images/bg.png") no-repeat fixed center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}
.logo{

    text-align: center;
}

.mailchimp-form{
    padding: 0 200px;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.56);
}
#mc_embed_signup div.mce_inline_error{
    background-color: transparent !important;
    color: #ffabab !important;
}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body{

    }
    .logo img {
        height: 250px;
        width: 250px;
    }

    .mailchimp-form{

        padding: 0 10px;
        color: #fff;
    }
    .btn-subscribe{
        /*margin: 0 90px;*/
    }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.99px) {
    body{

    }
    .logo img {
        height: 250px;
        width: 250px;
    }

    .mailchimp-form{
        padding: 0 40px;
        color: #fff;
    }

}

